{% extends 'base.html.twig' %}
{% block body %}
    <div class="admin__crud_title">
        <h1>Добавить страну</h1>
    </div>
    <div class="admin__crud_form">
        {{ form(form) }}
    </div>
{% endblock %}