{% extends 'admin/admin_base.html.twig' %}
{% block body %}
    <div class="admin__crud_title">
        <h1>Обновить Статистику {{ race.name }}</h1>
    </div>
    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="admin__crud_form">
        {{ form(form) }}
    </div>
{% endblock %}